@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  .app-container {
    @apply lg:max-w-[1080px] max-xl:px-4 w-full m-auto
  }

}

@layer components {
  .text-40 {
    @apply text-white text-opacity-[.4]
  }

  .text-80 {
    @apply text-white text-opacity-[.8]
  }

  .text-100 {
    @apply text-white text-opacity-[1]
  }

  .active-menu-item {
    @apply text-white text-opacity-[1]
  }
}

body {
  font-family: 'Spline Sans';
}


.main-menu li:hover {
  svg {
    transform: rotate(180deg);
    opacity: 1;
  }

  svg.ai {
    transform: rotate(0deg);
  }

  .popup {
    display: block;
    transition: opacity .5s ease;
  }
}

.main-menu-scrolled {
  background: #1d1e20;
}


.get-started-btn-scrolled {
  transition: all .5s ease-in-out;
  background: #248aff;
}

#mobile-menu::-webkit-scrollbar {
  width: 10px;
}

#mobile-menu {
  height: calc(100vh - 100px);
  overflow: auto;
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(to right, #18181B, #18181B),
  linear-gradient(to right, #8affab, #6924ff, #ff5757);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

//swiper styles

.swiper-button-next {
  top: 220px !important;
  right: -70px !important;
  z-index: 101 !important;
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 0;
    right: 0px !important;
    top: 45vw !important;

    width: 52px !important;
    height: 52px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, .03);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 8px;
  }
}

.swiper-button-next:after {
  font-size: 30px !important;
  color: white !important;
  @media (max-width: 768px) {
    font-size: 12px !important;
  }
}

.swiper-button-prev {
  top: 220px !important;
  left: -70px !important;
  margin-left: 20px;


  @media (max-width: 1120px) {
    margin-left: 0;
    left: -0px !important;
    top: 45vw !important;

    width: 52px !important;
    height: 52px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, .03);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 8px;
  }
}

.swiper-button-prev:after {
  font-size: 30px !important;
  color: white !important;

  @media (max-width: 1120px) {
    font-size: 12px !important;
  }
}


.swiper-button-disabled {
  opacity: 0 !important;

  @media (max-width: 1120px) {
    opacity: 1 !important;
  }
}

.left-gradient {
  background: linear-gradient(90deg, #121316, rgba(18, 19, 22, 0));
  position: absolute;
  left: 0;
  top: 0;
  width: 17vw;
  height: 100%;
  z-index: 2;

  @media(max-width: 1600px) {
    width: 7vw;
  }

  @media(max-width: 1120px) {
    display: none;
  }
}

.right-gradient {
  background: linear-gradient(90deg, rgba(18, 19, 22, 0), #121316);
  position: absolute;
  right: 0;
  top: 0;
  width: 17vw;
  height: 100%;
  z-index: 2;

  @media(max-width: 1600px) {
    width: 7vw;
  }

  @media(max-width: 1120px) {
    display: none;
  }
}

.video-container {
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  aspect-ratio: 1920 / 800;
  border-radius: 16px;
}

.video {
  pointer-events: none;
  object-fit: scale-down;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  border-radius: 16px;
  display: block;
}

//--> swiper styles

.rotate-animation {
  animation: .3s rotate-animation ease;
}

@keyframes rotate-animation {
  from {
    opacity: 0;
    transform: translateX(-50%) rotate(180deg) scale(1.5);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) rotate(0deg) scale(1);

  }
}

.examples-grid {
  grid-template-columns:  repeat(auto-fill, minmax(10.75rem, 21.5rem))
}

.border-on-hover {
  border: transparent solid 2px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    inset: 0;
    border: transparent solid 2px;
    border-radius: 16px;
  }

  &:hover {
    position: relative;
    border: #217ce5 solid 2px;

    &:after {
      border: #121316 solid 2px;
    }
  }
}


.border-on-hover:hover img {
  transform: scale(1.05);
  transition: all 0.5s ease;
}


.last-example:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(18, 19, 22, .2), #121316);
}

.example-item {
  border-radius: 12px;
  border: 1px dashed hsla(0, 0%, 100%, .2);
  aspect-ratio: 3 / 2;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(3) {
    @media (max-width: 1280px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @media (max-width: 742px) {
      display: none;
    }
  }
}



//************ убери потом

.square {
  position: sticky;
  background-color: black;
  top: 100px;
}

.circle {
  border-radius: 50%;
  background-color: salmon;
}

.wrapper {
  margin: 150px 200px 700px 100px;
  left: 50px;
  width: 200px;
  height: 1800px;
  background-color: yellow;
}

.square,
.circle {
  width: 80px;
  height: 80px;
}

body {
  background-color: gainsboro;
}


.active-price-btn {
  background: rgba(255,255,255, .1) ;
}
