@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  .app-container {
    @apply lg:max-w-[1080px] max-xl:px-4 w-full m-auto
  }
}

@layer components {
  .text-40 {
    @apply text-white text-opacity-[.4]
  }

  .text-80 {
    @apply text-white text-opacity-[.8]
  }

  .text-100 {
    @apply text-white text-opacity-[1]
  }

  .active-menu-item {
    @apply text-white text-opacity-[1]
  }
}

body {
  font-family: 'Spline Sans';
}


.main-menu li:hover {
  svg {
    transform: rotate(180deg);
    opacity: 1;
  }

  svg.ai {
    transform: rotate(0deg);
  }

  .popup {
    display: block;
    transition: opacity .5s ease;
  }
}

.main-menu-scrolled {
  background: #1d1e20;
}


.get-started-btn-scrolled {
  transition: all .5s ease-in-out;
  background: #248aff;
}

#mobile-menu::-webkit-scrollbar {
  width: 10px;
}

#mobile-menu {
  height: calc(100vh - 100px);
  overflow: auto;
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(to right, #18181B, #18181B),
  linear-gradient(to right, #8affab, #6924ff, #ff5757);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

//swiper styles

.swiper-button-next:after {
  font-size: 30px !important;
  color: white !important;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

.swiper-button-next {
  @media (max-width: 768px) {
    width: 52px !important;
    height: 52px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, .03);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 8px;
  }
}

.swiper-button-prev:after {
  font-size: 30px !important;
  color: white !important;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

.swiper-button-prev {
  @media (max-width: 768px) {
    width: 52px !important;
    height: 52px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, .03);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 8px;
  }
}

.swiper-button-disabled {
  opacity: 0 !important;

  @media (max-width: 768px) {
    opacity: 1 !important;
  }
}

//--> swiper styles
